{# src/Jrojo/AccountBundle/Resources/views/Account/register.html.twig #}
{# {{ form(form) }} #} 
{% extends "OryzoneBoilerplateBundle::html5.html.twig" %} 
{% block head_title %}{{ title }}{% endblock %} 

{% block body_container_header %}
<h1>{{ header_body }}</h1>
{% endblock %} {% block body_container_main %}
<p>

{{ form_start(form) }} {{ form_errors(form) }}
<div>{{ form_label(form.user.email) }} {{ form_errors(form.user.email)
	}} {{ form_widget(form.user.email) }}</div>

<div>{{ form_label(form.user.password.password) }} {{
	form_errors(form.user.password.password) }} {{
	form_widget(form.user.password.password) }} {{
	form_label(form.user.password.confirm) }} {{
	form_errors(form.user.password.confirm) }} {{
	form_widget(form.user.password.confirm) }}</div>


{{ form_end(form) }}
</p>

{% endblock %} {% block body_container_footer %} Here we go with
copyright infos {% endblock %}
